<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="row">
			<span class="col-xs-3" ng-click="$state.go('user.profile')">返回</span><span
				class="col-xs-6 text-center">我的订单</span><span
				class="col-xs-3 text-right" ng-click="$state.go('user.home')">首页</span>
		</div>
	</div>
	<div class="panel-body">
		<div class="row text-center" style="width: 95%; margin-top: 10px">
			<div class="col-xs-3">
				<a class="btn">待付款</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">待收货</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">待评价</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">已完成</a>
			</div>
		</div>
		<br>
		<div class="form-horizontal">
			<h5 class="text-info">河北承德华富不锈钢制品</h5>
			<dl>
				<dt>您的订单已制作完成,准备安装</dt>
				<dt>2016-02-13 11:33:04</dt>
			</dl>
			<div class="media">
				<a href="" class="pull-left"><img ng-src="assets/imgs/stainless/help.jpg"
					class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">产品</h4>
					不锈钢7分管20根;301钢板7张;U型不锈钢架29架
				</div>
			</div>
			<dl>
				<dt>订单总价:¥5900</dt>
			</dl>
		</div>
		 
	</div>