<div class="container-fluid">
<!--  #172a34 -->
	<div class="row" style="background-color:#337ab7; color: white">
		<div class="col-sm-12" style="margin-top: 30px">
			<p class="text-center">
				<img src="./assets/imgs/logo.png" class="img-circle" />
			</p>
			<p class="text-center">{{USERINFO.REALNAME}}欢迎您</p>
		</div>
		<div class="col-sm-12">
			<div class="col-xs-6">
				<h5 class="text-center">未付款:¥98000</h5>
			</div>
			<div class="col-xs-6">
				<h5 class="text-center">返现:¥2000</h5>
			</div>
		</div>
	</div>

	<form class="form-horizontal" style="margin-top: 20px;">
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.userinfo')">
			<span class="glyphicon glyphicon-user col-xs-1"></span><span
				class="col-xs-9"  >我的资料 </span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespec"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.order')">
			<span class="glyphicon glyphicon-shopping-cart col-xs-1"></span><span
				class="col-xs-9" >全部订单</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespecheight"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.customer')">
			<span class="glyphicon glyphicon-heart col-xs-1"></span><span
				class="col-xs-9">我的客户</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespec"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.invitation')">
			<span class="glyphicon glyphicon-share col-xs-1"></span><span
				class="col-xs-9">邀请好友</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespecheight"></div>

		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.attention')">
			<span class="glyphicon glyphicon-star-empty col-xs-1"></span><span
				class="col-xs-9">关注厂家</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespec"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.collect')">
			<span class="glyphicon glyphicon-heart-empty col-xs-1"></span><span
				class="col-xs-9">我的收藏</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespecheight"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.message')">
			<span class="glyphicon glyphicon-envelope col-xs-1"></span><span
				class="col-xs-9">我的消息</span> <span class="col-xs-1 text-right">
				<span class="badge">4</span>
			</span>
		</div>
		<div class="linespec"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.say')">
			<span class="glyphicon glyphicon-pushpin col-xs-1"></span><span
				class="col-xs-9">我要吐槽</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespec"></div>
		<div class="form-group" style="margin-bottom: 0px;" ng-click="$state.go('user.help')">
			<span class="glyphicon glyphicon-question-sign col-xs-1"></span><span
				class="col-xs-9">联系小i</span><span
				class="col-xs-1 text-right glyphicon glyphicon-chevron-right"></span>
		</div>
		<div class="linespecheight" style="margin-bottom:0px"></div>
		<!-- <div class="form-group text-center" style="margin-bottom: 0px;" ng-click="$state.go('user.home')">
			<span class="glyphicon glyphicon-off"> </span><label class="label-control"
				>&nbsp;&nbsp;退出登录</label>
		</div> -->
	</form>
</div>